@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.basket-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    padding-bottom: 150px;
}

.basket-title {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.basket-description {
    color: gray;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.basket-selection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.basket-selection input {
    margin-right: 10px;
}

.basket-item {
    display: flex;
    align-items: center;
    border: 1px solid #858585;
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
}

.basket-item-checkbox {
    position: absolute;
    top: 1px;
    left: 7px;
}

.basket-item-checkbox input {
    margin: 0;
}

.basket-item-info {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.basket-item-image {
    width: 100px;
    height: 100px;
    margin-right: 20px; /* 이미지와 정보 사이 간격 */
}

.placeholder-image {
    width: 100px;
    height: 100px;
    background-color: #eaeaea;
    border-radius: 5px;
}

.basket-item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.basket-item-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.basket-item-price {
    font-size: 1.2em;
    color: #000;
    font-weight: bold;

}

.basket-item-controls {
    display: flex;
    align-items: center;
    margin-right: 80px;
    gap: 2px; /* 버튼들 간의 간격 설정 */
}

.quantity-btn {
    background-color: #f1f1f1;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
   
    
}

.quantity-number {
    padding: 0 10px;
}

.basket-item-total {
    font-size: 1.2em;
    font-weight: bold;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.basket-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.delete-all-btn {
    width: 48%;
    padding: 12px;
    font-size: 14px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.purchase-btn {
    width: 48%;
    padding: 12px;
    font-size: 14px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.delete-all-btn:hover {
    background-color: #ff4444;
}

.purchase-btn:hover {
    background-color: #444444;
}

.basket-total {
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: right;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-message {
    font-size: 18px;
}

.modal-content button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.modal-content button:hover {
    background-color: #555;
}