@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.footer-container {
    background-color: #f8f8f8;
    padding: 20px;
    border-top: 1px solid #e0e0e0;
    text-align: left; 
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
  }
  
  .footer-content {
    max-width: 1800px;
    margin: 0 auto;
    width: 100%; 
  }
  
  .footer-title, .footer-description {
    font-weight: bold;
    margin: 0 0 10px 0;
    font-size: 12px;
  }
  
  .footer-team, .footer-address {
    margin-bottom: 10px;
  }
  
  .footer-section-title {
    margin: 0 0 5px 0;
    font-size: 12px;
  }
  
  .footer-team-list {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-team-list li {
    margin-bottom: 5px;
  }
  
  .main-content {
    min-height: calc(100vh - 120px); 
    padding: 10px;
  }