@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.fa-analysis-unique-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    padding-bottom: 300px;
}

.fa-analysis-unique-header {
    margin-top: 80px; 
    margin-bottom: 5px;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-header h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-header p {
    margin: 10px 0;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-small-text {
    font-size: 12px;
    color: gray;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-upload-section {
    width: 45%;
    text-align: left;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-upload-section h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
}

.fa-analysis-unique-upload-section p {
    font-size: 16px;
    color: gray;
    margin-bottom: 20px;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-upload-box {
    width: 100%;
    height: 400px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    cursor: pointer;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-upload-box p {
    color: #aaa;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-analyze-button {
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-description-section {
    margin-top: 50px;
    margin-bottom: 80px;
    width: 45%;
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-description-section p {
    margin-top: 50px;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-description-section h2 {
    margin-top: 100px;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-header .fa-analysis-unique-divider {
    border-top: 1px solid #ccc;
    margin-bottom: 40px;
    margin-top: 100px;
    font-family: "Noto Sans KR", sans-serif;
}

/* 모달창 관련 스타일 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.fa-analysis-unique-description-section h2 {
    margin-top: 50px; 
    margin-bottom: 50px; 
    font-size: 24px;
    font-weight: bold;
}

/* 관련 스타일 섹션 */
.related-styles-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 100px;
}

.related-style {
    perspective: 1000px;
    width: 18%;
    text-align: center;
}

.related-style-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.related-style.flipped .related-style-inner {
    transform: rotateY(180deg);
}

.related-style-front, .related-style-back {
    position: absolute;
    width: 100%;
    height: 300px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

.related-style-front {
    background-color: lightgray;
}

.related-style-back {
    background-color: #333;
    color: white;
    transform: rotateY(180deg);
}

.related-style-placeholder {
    width: 100%;
    height: 300px;  
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.related-style-title {
    margin-top: 10px;
    font-size: 14px;
    color: gray;
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
    top: -300px;
}

.related-style-description {
    font-size: 16px; 
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.related-styles-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: left;
}


/* 관련 이미지 섹션 */
.related-images-section {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr)); 
    gap: 5px;
    row-gap: 30px;
    margin-top: 400px;
    margin-left: 25px;
    justify-content: space-between;
}

.related-image-placeholder {
    width: 90%;
    height: 250px;
    background-color: lightgray;
    border-radius: 3px;
}

/* 페이지네이션 */
.custom-pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.custom-pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.custom-pagination-buttons span {
    margin: 0 10px;
}

.custom-pagination-buttons .fa-angle-left,
.custom-pagination-buttons .fa-angle-right {
    cursor: pointer;
}

