@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.fa-analysis-unique-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-header {
    margin-top: 50px; /* 기존보다 위로 올림 */
    margin-bottom: 5px;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-header h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-header p {
    margin: 10px 0;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-small-text {
    font-size: 12px;
    color: gray;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px; /* 기존보다 위로 올림 */
    margin-left: 30px;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-upload-section {
    width: 45%;
    text-align: left;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-upload-section h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-upload-section p {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-upload-box {
    width: 100%;
    height: 400px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    cursor: pointer;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-upload-box p {
    color: #aaa;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-analyze-button {
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-description-section {
    margin-top: 80px; /* 차트와 설명 섹션을 위로 올림 */
    margin-bottom: 200px; /* 차트 아래 여백 축소 */
    width: 45%;
    text-align: center; /* 설명 및 차트 가운데 정렬 */
    font-size: 16px;
    line-height: 1.6;
    font-family: "Noto Sans KR", sans-serif;
}

.fa-analysis-unique-description-section canvas {
    width: 400px !important; /* 차트 크기 조정 */
    height: 400px !important; /* 차트 크기 조정 */
    margin: 15px auto 0 auto; /* 차트를 수직 가운데 정렬 및 위로 올림 */
}

.fa-analysis-unique-header .fa-analysis-unique-divider {
    border-top: 1px solid #ccc;
    margin: 30px 0; /* 분리선 위아래 여백 축소 */
    font-family: "Noto Sans KR", sans-serif;
}