/* 로그인 외부 네모 박스 */
.custom-login-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #ffffff; /* 배경색 */
}

/* 로그인 컨테이너 */
.custom-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 450px; /* 박스 너비 */
    background-color: #fff;
    padding: 30px; /* 패딩 조정 */
    border: 1px solid #a7a7a7; /* 테두리 */
    border-radius: 10px; /* 모서리를 둥글게 */
}

/* 로그인 헤더 */
.custom-login-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 로그인 제목 */
.custom-login-title {
    font-size: 24px; /* 폰트 크기 */
    font-weight: bold;
    margin-bottom: 10px;
}

/* 로그인 노트 */
.custom-login-note {
    font-size: 12px; /* 폰트 크기 */
    color: #a7a7a7;
    margin-bottom: 20px; /* 간격 조정 */
}

/* 로그인 폼 컨테이너 */
.custom-login-form-container {
    width: 80%;
}

/* 폼 그룹 */
.custom-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* 간격 조정 */
}

/* 폼 레이블 */
.custom-form-label,
.custom-form-label-password {
    font-size: 14px; /* 폰트 크기 */
    font-weight: bold;
    margin-bottom: 8px;
}

/* 폼 입력 */
.custom-form-input {
    width: 100%;
    padding: 8px; /* 패딩 */
    border: 1px solid #a7a7a7;
    border-radius: 3px;
    font-size: 14px;
    color: #555;
}

/* 입력 필드 포커스 시 테두리 색상 변경 */
.custom-form-input:focus {
    border-color: #007BFF;
    outline: none;
}

/* 제출 버튼 컨테이너 */
.custom-submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px; /* 간격 조정 */
}

/* 제출 버튼 */
.custom-submit-button {
    width: 100%;
    padding: 10px; /* 패딩 */
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* 제출 버튼 호버 상태 */
.custom-submit-button:hover {
    background-color: #333;
}

/* 가입하기 링크와 텍스트 */
.custom-signup-redirect {
    margin-top: 20px; /* 간격 조정 */
    margin-bottom: 25px; /* 간격 조정 */
    text-align: center;
    font-size: 14px; /* 폰트 크기 */
}

/* 가입하기 링크 */
.custom-signup-link {
    color: #3c6aff;
    text-decoration: none;
    font-weight: bold;
}

/* 가입하기 링크 호버 상태 */
.custom-signup-link:hover {
    text-decoration: underline;
}