.mypages-container {
  width: 60%;
  margin: 0 auto;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  height: auto;
  padding-bottom: 150px;
}

.mypages-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 10px;
}

.mypages-subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 50px;
}

.mypages-user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  margin-bottom: 50px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f9f9f9;
  text-align: left;
}

.mypages-user-avatar {
  width: 60px;
  height: 60px;
  background-color: #000000;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypages-user-avatar svg {
  color: #ffffff;
}

.mypages-user-details {
  text-align: left;
}

.mypages-user-message {
  font-size: 16px;
  margin: 0;
}

.mypages-user-status {
  font-size: 14px;
  color: #888;
}

.mypages-user-status span {
  color: #000;
  text-decoration: underline;
}

.mypages-section-divider {
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #000;
  width: 100%;
}

.mypages-section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-top: 30px;
}

.mypages-section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.mypages-section-subtitle {
  font-size: 12px;
  color: #888;
}

.cart-items-container,
.wishlist-items-container {
  position: relative;
  display: flex;
  align-items: center;
}

.mypages-cart-items,
.mypages-wishlist-items,
.mypages-recommended-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}

.mypages-item {
  position: relative;
  width: 160px;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  margin: 0 15px;
}

.mypages-item-placeholder {
  width: 100%;
  height: 150px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

.mypages-item-details {
  text-align: center;
}

.mypages-item-name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.mypages-item-price {
  font-size: 12px;
  color: #333;
}

.mypages-item-remove {
  position: absolute;
  top: 5px;
  right: 0px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 1.0rem;
}

.mypages-item-remove:hover {
  color: rgb(236, 22, 22);
}

.pagination-arrow {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left-arrow {
  left: -30px;
}

.right-arrow {
  right: -30px;
}

.mypages-order-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 40px 0;
  margin: 0 50px;
}

.mypages-status-item {
  position: relative;
  text-align: center;
}

.mypages-status-icon {
  width: 80px;
  height: 80px;
  background-color: #d4d4d4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
}

.mypages-status-icon-inner {
  font-size: 32px;
  color: #535353;
}

.mypages-status-line {
  flex-grow: 1;
  height: 2px;
  background-color: #ddd;
  margin: 0 15px;
}

.mypages-order-buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.mypages-btn {
  padding: 18px 220px;
  border-radius: 3px;
  background-color: #000000;
  cursor: pointer;
  font-size: 14px;
  margin: 0 10px;
  margin-bottom: 30px;
  color: #ffffff;
}

.mypages-btn:hover {
  background-color: #464646;
  color: #ffffff;
}

.mypages-login-text {
  cursor: pointer;
  color: #333;
  font-weight: bold;
  text-decoration: underline;
}

.blurred {
  filter: blur(5px);
  pointer-events: none;
}